@import url('https: //fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@600&display=swap');

a {
    text-decoration: none;
}

.btn {
    border-radius: 24px;
    font-weight: 500;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.btn-groupo {
    background-color: #FD2D01;
    border-color: #FD2D01;
    color: #fff;
}

.btn-groupo:hover,
.btn-groupo:active,
.btn-groupo:focus {
    background-color: #ea2e09;
    border-color: #ea2e09;
    color: #fff;
}

.btn-groupo:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 76, 49, 0.5);
}